/* Will be compiled down to a single stylesheet with your sass files */
/*
body {
  overflow: auto;
}

*/

#tabs-icons .ui-tabs-nav .ui-icon { 
    display: inline-block; 
}

/*
#result{
  overflow-y:  scroll}
*/

#progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}
#progress_bar.loading {
    opacity: 1.0;
}
#progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
}


.ui-accordion-content{
display: none;
height: 160px;
}

.dmx_address{
    font-size:30px;
      color: white;
      position:relative;
    left:0px;
    top:-70px;
    text-shadow:2px 2px 4px #0000FF;
}


.file_address{
    font-size:30px;
      color: white;
      position:relative;
    left:0px;
    top:0px;
    text-shadow:2px 2px 4px #0000FF;
}



.file-checkbox{
      position:relative;
    left:-40px;
    top:-40px;

}

sortable.li {
    background-color:Azure;
    border-bottom:1px dotted Gray
}
.dmx_address.selected {
    color:red;
    font-color:red
}}



.btn.red {
    color: white;
    background-color: red;
}

.red {
    color: white;
    background-color: red;
}

li.selected {
    color:red
}


#one
{
//border-style:dotted;
//border-width:1px;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;}

#two {
//border-style:dotted;
//border-width:1px;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;}

#box-wrap-inner {
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-align: stretch;
	-moz-box-align: stretch;
	box-align: stretch;

	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	box-direction: normal;

	-webkit-box-pack: start;
	-moz-box-pack: start;
	box-pack: start;
}

#status-bar {
border-style:dotted;
border-width:1px;
box-flex: 1;
}
